/*globalne*/
* {
    box-sizing: border-box;
}

/*ogolne*/
body{
    color: #c8c8c8;
    background: black;
    min-width: 600px;
}

header{
    text-align: center;
}

main{
    display: table;
    width: 100%;
    position: relative;

    padding-right: 50px;
    margin: 50px;
}

main > *{
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

footer p{
    margin: 0;
}

footer{
    border-top: gray 1px solid;
}

/*pasek nawigacji*/

/*nav ul li{
    display: inline-block;
    background: rgba(36,36,36,1);
    border: 1px solid #666;
    border-radius: 15px;
    padding: 2px 10px;
    margin: 0 3px;
}

nav ul li a:link{
    color: orange;
}

nav ul li a:visited{
    color: orange;
}

nav ul{
    display: inline-block;
}

nav{
    text-align: center;
    margin-bottom: 50px;
}*/

/*formularze*/
label select{
    display: block;
    width: 30%;
}

label input{
    display: block;
    width: 100px;
}

label {
    padding: 10px;
}

.input_wrapping {
    display: block;
    width: 50%;
}

.input_wrapping > label{
    display: inline-block;
}

input {
    display: inline-block;
}





